target/
.idea/
.vscode/
*.iml
*.log
.DS_Store
zippyboot-app/logs/zippyboot-app/app-2026-05-27-1.log.gz
zippyboot-app/build/image/zippyboot-app-1.0.0-SNAPSHOT.jar
zippyboot-netty/build/image/zippyboot-netty-1.0.0-SNAPSHOT.jar
