{
  "identities": [
    {
      "name": "zynex",
      "credentials": [
        {
          "accessKey": "zynex",
          "secretKey": "Zyn@Secure#99"
        }
      ],
      "actions": [
        "Admin",
        "Read",
        "Write"
      ]
    }
  ]
}
